
    
    body {
        font-family: 'NanumSquareNeoBold';
        background-color: #CCCCCC; 
        margin: 0%;
        width: 100%;
    }

    @font-face {
        font-family: 'NanumSquareNeoLight';
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
    }

    @font-face {
        font-family: 'NanumSquareNeoBold';
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
    }

    img {
        width: 100%;
    }
        
    :link {
        color: rgb(205, 50, 192);
    }

    :visited { 
        color: rgba(0, 0, 0, 0.856);
    }

    

    pre {

        text-align: left; 
        margin: 10 auto;
    }

    #pink{
        background-color: rgb(255, 188, 216);
        color: rgb(0, 0, 0);
    }

    #pinkfont{
        color: rgb(255, 120, 142);
    }

    td {
        background-color: rgb(255, 232, 241);
    }
    
    .textBoxBehind {
        background-color: rgb(230, 230, 230);
        height: 400px; 
        margin-bottom: 4px; 

        
    }

    .textBox {
        margin: 5px auto; font-weight: bold; /* border: solid 1px #bebebe; border-radius: 5%; */
        margin-left: 20px; background-color: #ffffff;
        float: left; width: 200px; height: 330px; 
        

        .gameimage {
            width: 200px; height: 165px; 

        }
        a { 
            display: -webkit-box;
            margin-bottom: 3%; 
            font-size: 13px;
            padding: 0.5em 1em;
        }
        #textBoxA {
            font-size: 13px;
            padding: 0.5em 1em;
        }
        .Toolicon{
            margin: 5px;
            width: 15%;
        }
        .gameicon { 
            height: 50px; /* 아이콘 이미지 높이 설정 */
            width: 50px; /* 아이콘과 텍스트 사이 간격 설정 */
        }
        h3 {
            margin-top: 15px; margin-left: 10px
        }
    }
      /* style="clear: both;" 박스 건너뛰기 */


    * {
        margin: 0;
        box-sizing: border-box;
    }

    .top-menu {
        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 0px 20px;
        font-size: 12px;
    }

    .category-menu {
        margin-left: auto;
    }

    .category-menu ul li {
        margin-left: 10px;
    }

    .category-menu ul li a {
        color: black;
        text-decoration: none;
        font-size: 16px;
    }

    .category-menu ul li a:hover {
        text-decoration: underline;
    }

    .logo img {
        height: 60px;
        width: auto;
        margin-right: 20px; 
    }

    .container {
        display: flex; /* 아이콘과 텍스트를 수평으로 배치하기 위해 Flexbox 사용 */
        align-items: center; /* 세로 정렬 설정 */
    }

